<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='shortcut icon' href="{{ url_for('static', filename='img/favicon.ico') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <title>Serge Wargame Demonstrator</title>
</head>
<body>
  <div id="flex-content-wrapper">
    <header>
      <h1>Serge Wargame Connector</h1>
    </header>
    <main>
      <form class="connection-form">
        <input type="text" id="wargame_url" name="wargame_url" placeholder="Enter the Wargame URL" required>
        <div class="connection-buttons">
          <button type="submit">Connect</button>
          <button type="submit" id="disconnectButton" style="display: none">Disconnect</button>
        </div>
        <div id="validationResult"></div>
      </form>
      <div class="container" style="display: none;">
        <div id="connected_user"></div>
        <div id="recent_message"></div>
        <section class="submit-message-section">
          <h2>Submit New Message:</h2>
          <form>
            <label for="json_data">Message:</label>
            <textarea id="json_data" name="json_data" placeholder="Submit New Message" rows="5" cols="50" required></textarea>
            <button id="sendMessage" type="submit">Submit</button>
          </form>
        </section>
      </div>
    </main>
  </div>
  <script src="{{ url_for('static', filename='js/script.js') }}"></script>
</body>
</html>
