<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Serge Wargame Demonstrator</title>
</head>
<body>
    <h1>Serge Wargame Connector</h1>
<form>
    <label for="wargame_url">Wargame URL:</label>
    <input type="text" id="wargame_url" name="wargame_url" value="{{ wargame_url }}" required>
    <button type="submit">Connect</button>
    <button type="submit" id="disconnectButton" >Disconnect</button>
</form>
    <div id="validationResult"></div>
    <hr>
    <div id="connected_user"></div>
    <span>Recent Message: {{ most_recent_message }}</span>
    <div id="recent_message">
         {{ most_recent_message }}
    </div>
    <hr>
    <h2>Submit New Message:</h2>
    <form method="POST" action="/submit_message">
        <textarea id="json_data" name="json_data" rows="5" cols="50" required></textarea>
        <br>
        <button type="submit">Submit</button>
    </form>
</body>

 <script src="{{ url_for('static', filename='js/script.js') }}"></script>

</html>
